{{# Basic Meta Tags #}}
{{ partial src="advanced-seo::snippets/basic" }}

{{# Favicons #}}
{{# {{ partial src="advanced-seo::snippets/favicons" }} #}}

{{# Knowledge Graph #}}
{{# {{ partial src="advanced-seo::snippets/knowledge_graph" }} #}}

{{# Open Graph #}}
{{ partial src="advanced-seo::snippets/open_graph" }}

{{# Twitter #}}
{{ partial src="advanced-seo::snippets/twitter" }}

{{# Canonical URL #}}
{{# {{ partial src="advanced-seo::snippets/canonical_url" }} #}}

{{# Robots Indexing #}}
{{ partial src="advanced-seo::snippets/indexing" }}

{{# Trackers #}}
{{ partial src="advanced-seo::snippets/trackers" }}

{{# Site Verification #}}
{{ partial src="advanced-seo::snippets/site_verification" }}
