{{# The main favicon SVG #}}
{{ if seo:favicon_svg }}
    <link rel="icon" href="{{ seo:favicon_svg }}" type="image/svg+xml">
{{ /if }}

{{# Single color Safari mask-icon #}}
{{# <link rel="mask-icon" href="{{ favicon_safari_override ?? favicon_svg }}" color="{{ favicon_safari_color }}"> #}}

{{# The 180x180px PNG favicon for iOS devices #}}
{{# if favicon_ios_override }}
    <link rel="apple-touch-icon" href="{{ glide:favicon_ios_override width='180' height='180' fit='crop_focal' }}">
{{ else }}
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
{{ /if #}}

{{# The manifest.json that includes the 512x512px PNG favicon for Android devices #}}
{{# <link rel="manifest" href="/site.webmanifest"> #}}

{{# The background color for Android Chrome #}}
{{# <meta name="theme-color" content="{{ favicon_android_chrome_color }}"> #}}
