{{# Global JSON-LD Schema #}}
{{ if seo:json_ld_type === 'organization' }}
    <script type="application/ld+json" id="schema">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ seo:organization_name }}",
            "url": "{{ config:app:url }}{{ homepage }}"{{ if seo:organization_logo }},
            "logo": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"{{ /if }}
        }
    </script>
{{ /if }}

{{# Global JSON-LD Schema #}}
{{ if seo:json_ld_type === 'person' }}
    <script type="application/ld+json" id="schema">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "url": "{{ config:app:url }}{{ homepage }}",
            "name": "{{ seo:person_name }}"
        }
    </script>
{{ /if }}

{{# Global JSON-LD Schema #}}
{{ if seo:json_ld_type === 'custom' }}
    <script type="application/ld+json" id="schema">
        {{ seo:json_ld }}
    </script>
{{ /if }}

{{# Per Entry JSON-LD Schema #}}
{{ if json_ld }}
    <script type="application/ld+json">
        {{ json_ld }}
    </script>
{{ /if }}

{{# Global JSON-LD Breadcrumbs #}}
{{ if seo:breadcrumbs && segment_1 }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {{ nav:breadcrumbs }}
                    {
                        "@type": "ListItem",
                        "position": {{ count }},
                        "name": "{{ title }}",
                        "item": "{{ permalink }}{{ url }}"
                    } {{ unless last}},{{ /unless}}
                {{ /nav:breadcrumbs }}
            ]
        }
    </script>
{{ /if }}
