<meta property="og:site_name" content="{{ site_name }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ locale }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:url" content="{{ canonical }}">

{{ if og_description }}
    <meta property="og:description" content="{{ og_description }}">
{{ /if }}

{{ if og_image }}
    {{ if generate_social_images }}
        <meta property="og:image" content="{{ og_image:permalink }}">
    {{ else }}
        <meta property="og:image" content="{{ glide :src="og_image" :width="og_image_size:width" :height="og_image_size:height" fit="crop_focal" absolute="true" }}">
    {{ /if }}

    <meta property="og:image:width" content="{{ og_image_size:width }}" />
    <meta property="og:image:height" content="{{ og_image_size:height }}" />
{{ /if }}
