{{ if seo:twitter_card }}
    <meta name="twitter:card" content="{{ seo:twitter_card }}">
{{ /if }}

{{ if seo:og_title }}
    <meta name="twitter:title" content="{{ seo:og_title }}">
{{ /if }}

{{ if seo:og_description }}
    <meta name="twitter:description" content="{{ seo:og_description }}">
{{ /if }}

{{ if seo:twitter_handle }}
    <meta name="twitter:site" content="{{ seo:twitter_handle }}">
{{ /if }}

{{ if seo:og_image }}
    <meta name="twitter:image" content="{{ glide src="{seo:og_image}" width="{seo:twitter_image_preset:width}" height="{seo:twitter_image_preset:height}" fit="crop_focal" q="100" absolute="true" }}">

    {{ if seo:og_image:alt }}
        <meta name="twitter:image:alt" content="{{ seo:og_image:alt }}">
    {{ /if }}
{{ /if }}
