<meta name="twitter:card" content="{{ twitter_card }}">
<meta name="twitter:title" content="{{ twitter_title }}">

{{ if twitter_description }}
    <meta name="twitter:description" content="{{ twitter_description }}">
{{ /if }}

{{ if twitter_handle }}
    <meta name="twitter:site" content="{{ twitter_handle }}">
{{ /if }}

{{ if twitter_image }}
    {{ if generate_social_images }}
        <meta name="twitter:image" content="{{ twitter_image }}">
    {{ else }}
        <meta name="twitter:image" content="{{ glide :src="twitter_image" :width="twitter_image_size:width" :height="twitter_image_size:height" fit="crop_focal" absolute="true" }}">
    {{ /if }}

    {{ if twitter_image:alt }}
        <meta name="twitter:image:alt" content="{{ twitter_image:alt }}">
    {{ /if }}
{{ /if }}
