<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
        <style>.phpdebugbar { display: none !important; }</style>
    </head>

    <body style="width: {{ width }}px; height: {{ height }}px;">
        {{ template_content }}
    </body>

</html>
