{{#
	@name Social Images
	@desc The template for generating Social Images. By default two sizes, one for the regular OG protocol and one for Twitter.
#}}

<!doctype html>
<html class="h-full">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

        <title>Social Images / {{ get_content:id }}{{ title }}{{ /get_content:id }}</title>

        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
        <link rel="stylesheet" href="https://use.typekit.net/qzu2upb.css">

        <style>
            .phpdebugbar { display: none !important; }
        </style>
    </head>

    <body class="flex flex-col items-center pb-8 space-y-8">

        {{ partial:social_images/template selector="og" }}
        {{ partial:social_images/template selector="twitter" }}

        <script src="{{ mix src='/js/app.js' }}"></script>
    </body>

</html>
